body {
  font-family: "Gluten", cursive;
}
h1,
h2,
h5 {
  padding: none;
  text-align: left;
  display: block;
  margin-left: 0 auto;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
  margin-bottom: 0;
}

input {
  border-color: #000000;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  margin-right: auto;
  margin-top: 15px;
  text-align: left;
  width: 150px;
  padding: 4px;
  line-height: 25px;
}

button {
  border-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
  margin-right: auto;
  text-align: center;
  line-height: 25px;
}

footer {
  display: block;
  font-size: 20px;
  margin: auto;
  height: 30px;
  text-align: center;
}

.main-card {
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  top: 20px;
  max-width: 650px;
  padding: 6px;
}

.card-body {
  padding: 15px 10px 0px 10px;
}
.date-display {
  font-size: 25px;
  text-align: right;
}

.time-display {
  font-size: 25px;
  margin-top: -10px;
  text-align: right;
}

.sub-weather {
  font-size: 20px;
}

.high {
  font-weight: 600;
}

.unit-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

.inactive {
  background-color: #6d6a6a;
  pointer-events: none;
}

.feat-icon-card {
  background: none;
  border: none;
  display: block;
  margin: auto;
  top: -130px;
  width: fit-content;
}

.feat-icon {
  display: block;
  width: 180px;
}

.forecast-title {
  font-size: 30px;
  height: 60px;
  text-decoration: none;
}
.forecast-card {
  background: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  top: -90px;
  max-width: 85%;
  text-align: center;
  font-size: 20;
}

.sunny-icon {
  width: 40px;
}

.sun-cloud-icon {
  width: 40px;
}

.cloud-rain-icon {
  width: 40px;
}

.rain-lightning-icon {
  width: 50px;
}
.submit {
  display: inline-block;
  margin: 0 auto;
  padding: 1px 2px;
  font-size: 15px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 2px;
  text-align: center;
}

.no-wrap {
  white-space: pre-wrap;
  overflow-wrap: normal;
}
.max-temp {
  font-weight: bold;
  font-size: 15px;
}
.min-temp {
  opacity: 0.8;
  font-size: 15px;
}
.gitHub-link {
  color: rgb(87, 179, 221);
}

.forecast-description {
  font-size: 15px;
  text-transform: capitalize;
  overflow-wrap: normal;
}

.day-time {
  background: linear-gradient(
    to top,
    #fff1eb -20%,
    #ace0f9 30%,
    #fff1eb 47%,
    #ace0f9 85%
  );
  transition-duration: 2s;
  color: rgb(33, 37, 41);
}

.icon-column {
  background: red;
}
.night-time {
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  );
  transition-duration: 2s;
  color: #eceed5;
}

.christmas-button {
  padding: 4px 2px 0px 2px;
  font-size: 17px;
  border-radius: 50%;
}

.christmas-mode {
  background: linear-gradient(
    to top,
    #fff1eb -40%,
    #940606 15%,
    #940606 74%,
    #fff1eb 140%
  );
  transition-duration: 2s;
  color: #eceed5;
}

#current-description {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  position: relative;
  top: -15px;
}

.christmas-tree {
  display: inline-block;
  position: relative;
}

#tree-1 {
  ***margin-left: -150px;
  ***margin-bottom: -50px;
}

#tree-2 {
  ***margin-left: -150px;
  ***margin-bottom: -50px;
}

#forecast-icon {
  color: black;
}
