body {
  font-family: "Gluten", cursive;
}
h1,
h2,
h5 {
  display: block;
  margin-left: 0 auto;
  padding: none;
  text-align: left;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 0;
}

h2 {
  font-size: 50px;
  margin-bottom: 0;
}

input {
  border-color: #000000;
  border-radius: 10px;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  line-height: 25px;
  margin-right: auto;
  margin-top: 15px;
  padding: 4px;
  text-align: left;
  width: 150px;
}

button {
  border-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
}

.main-container {
  max-width: 800px;
}
.main-card {
  border: 2px solid #000000;
  display: block;
  margin: 0 auto;
  padding: 6px;
  top: 20px;
}

.card-body {
  padding: 15px 10px 0px 10px;
}
.main-card-body {
  max-height: 400px;
}

.button:hover {
  cursor: pointer;
}

.date-display {
  font-size: 25px;
  text-align: right;
}

.time-display {
  font-size: 25px;
  margin-top: -10px;
  text-align: right;
}

.sub-weather {
  font-size: 20px;
}

.high {
  font-weight: 600;
}

.unit-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

.inactive {
  background-color: #6d6a6a;
  pointer-events: none;
}

.feat-icon-card {
  background: none;
  block-size: auto;
  border: none;
  display: block;
  margin: auto;
  top: -130px;
  width: fit-content;
}

.feat-icon {
  display: block;
  margin: 0 auto;
  width: 180px;
}

.forecast-title {
  font-size: 30px;
  height: 60px;
  text-align: center;
  text-decoration: none;
}
.forecast-card {
  background: transparent;
  border: none;
  display: block;
  font-size: 20;
  margin: 0 auto;
  max-width: 85%;
  text-align: center;
  top: -90px;
}
.forecast-icon {
  width: 55px;
}

.submit {
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 2px;
  padding: 1px 2px;
  text-align: center;
}

.no-wrap {
  white-space: pre-wrap;
  overflow-wrap: normal;
}

.forecast-description {
  font-size: 17px;
  overflow-wrap: normal;
  text-transform: capitalize;
}

.weekday {
  font-size: 18px;
}

.max-temp {
  font-weight: bold;
  font-size: 18px;
}
.min-temp {
  font-size: 18px;
  opacity: 0.8;
}

.day-time {
  background: linear-gradient(
    to top,
    #fff1eb -20%,
    #ace0f9 30%,
    #fff1eb 60%,
    #ace0f9 85%
  );
  color: rgb(33, 37, 41);
  transition-duration: 2s;
}

.night-time {
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(48, 55, 95) 0%,
    rgb(110, 136, 199) 90%
  );
  color: #eceed5;
  transition-duration: 2s;
}

.gitHub-link {
  color: rgb(87, 179, 221);
}
.bg-theme-button {
  border-radius: 50%;
  font-size: 17px;
  padding: 3px 2px 0px 2px;
}

#theme-button {
  border-radius: 50%;
  font-size: 17px;
  padding: 3px 2px 0px 2px;
}

.easter-mode {
  background: linear-gradient(
    114.2deg,
    rgb(121, 194, 243) 22.6%,
    rgb(255, 180, 239) 67.7%
  );
}

.easter-banner {
  display: block;
  margin: auto;
  margin-top: -100px;
  position: relative;
  text-align: center;
}
.halloween-mode {
  background: linear-gradient(
    to top,
    #fff1eb -40%,
    #110a00 10%,
    #e96e11 50%,
    #2f9c13 75%,
    #110a00 140%
  );
  color: #eceed5;
  transition-duration: 2s;
}

#halloween-banner {
  display: block;
  margin: auto;
  margin-top: -140px;
  margin-bottom: -50px;
  position: relative;
  text-align: center;
}
#santa-button {
  border-radius: 50%;
  font-size: 17px;
  padding: 3px 2px 0px 2px;
}

.christmas-mode {
  background: linear-gradient(
    to top,
    #fff1eb -40%,
    #940606 15%,
    #940606 74%,
    #fff1eb 140%
  );
  color: #eceed5;
  transition-duration: 2s;
}

#tree-1 {
  display: block;
  left: -130px;
  opacity: 0.8;
  position: relative;
  top: -80px;
}

#tree-2 {
  display: block;
  opacity: 0.8;
  position: relative;
  right: -130px;
  top: -80px;
}

.flip-horizontally {
  transform: scaleX(-1);
}

.christmas-banner {
  display: block;
  margin-bottom: -80px;
  position: relative;
  text-align: center;
  top: -100px;
}

#easter-chick-img {
  display: block;
  left: -205px;
  opacity: 0.8;
  position: relative;
  text-align: center;
  top: -150px;
}

#current-description {
  font-size: 25px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  top: -15px;
}

#forecast-icon {
  color: black;
}

#footer {
  display: block;
  font-size: 20px;
  height: 30px;
  position: relative;
  text-align: center;
}
